@{
    ViewData["Title"] = "Home Page";
}

    <header>
        <div class="input-group mb-3 justify-content-center">
            <div>
                <input type="text" class="form-control" id="artist" size="30" placeholder="Artist..." />
            </div>

            <div class="input-group-append">
                <a class="btn btn-outline-primary" onclick="getArtists(artist.value)">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </header>

    <section class="row" id="section">

        <aside class="col-md-2" id="left-side">
            <div id="responseArtists">
            </div>
        </aside>

        <article class="col-md-8" id="main">

            <div id="responseAlbums">

            </div>
        </article>

        <aside class="col-md-2" id="right-side">

            <div id="responseTitles">
            </div>
        </aside>

    </section>